/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
  display: block;
}

.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-task__wrapper {
  display: flex;
}

/* сброс дефолтных стилей start  */
.tasks-list {
  margin: 0;
  padding: 0px;
}

.tasks-list__item,
.subheader {
  list-style: none;
}

.input-text,
.tasks-list__item__input-check,
.btn {
  outline: none;
}
/* сброс дефолтных стилей finish  */

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.subheader,
.new-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}

.input-text:focus {
  color: #333;
}

/* New Task */
.new-task__label {
  display: block;
  margin: 0 0 20px;
}

.new-task__input-text {
  width: 318px;
}

.new-task {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Task list */
.tasks-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-list__item  > .tasks-list__item__input-check,
.tasks-list__item  > .task,
.tasks-list__item  > .btn,
.tasks-list__item  > .tasks-list__item__btn-delete__img {
  vertical-align: middle;
}

.tasks-list__item__input-check {
  margin: 0 10px;
}

.tasks-list__item  > .label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.tasks-list__item  > .input-text {
  width: 226px;
}

.tasks-list__item__btn-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.tasks-list__item__btn-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.done-tasks .label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.tasks-list__item__input-text {
  display: none;
}

.tasks-list__item_active .input-text {
  display: inline-block;
  width: 224px;
}

.tasks-list__item_active .label {
  display: none;
}